<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/reset.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/jobs.css">
    <title>DOKI | Jobs</title>
</head>
<body>
    <header>
        <a href="#">
            <div id="logo">
                <h1>DO<span>KI</span></h1>
            </div>
        </a>
        <nav>
            <div class="nav-itens"></div>
            <div class="nav-itens"></div>
            <a href="#">
                <div class="nav-itens"></div>
            </a>
        </nav>
        <div class="clear"></div>
    </header>

    <section class="main-content">
        <div class="discovery"></div>
        <div class="feed">
            <div class="post">
                <img src="https://media-exp1.licdn.com/dms/image/C4E03AQHKFmytI6gOsQ/profile-displayphoto-shrink_800_800/0/1619987747569?e=1672876800&v=beta&t=2tjIFQgiS7ZvjkWzfoN3lqNX6hxa62r6DL9mo12BOoo" alt="" class="small_profile">
                <div class="user_info">
                    <h2>Kaworii da Silva Diniz</h2>
                    <h3>9.999 seguidores</h3>
                    <h3>1 sem . 🌎</h3>
                </div>
                <div class="content">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining 
                    </p>
                </div>
                <div class="post_hr"></div>
                <div class="interactions">
                    <button>
                        <div class="interaction_box">
                            <img src="img/like.png" alt="">
                            <span>Gostei</span>
                        </div>
                    </button>
                    <button>
                        <div class="interaction_box">
                            <img src="img/comment.png" alt="">
                            <span>Comentar</span>
                        </div>
                    </button>
                    <button>
                        <div class="interaction_box">
                            <img src="img/share.png" alt="">
                            <span>Compartilhar</span>
                        </div>
                    </button>
                    <button>
                        <div class="interaction_box">
                            <img src="img/apply.png" alt="">
                            <span>Aplicar para vaga</span>
                        </div>
                    </button>
                </div>
            </div>
            <div class="post">
                <img src="https://media-exp1.licdn.com/dms/image/C4E03AQHKFmytI6gOsQ/profile-displayphoto-shrink_800_800/0/1619987747569?e=1672876800&v=beta&t=2tjIFQgiS7ZvjkWzfoN3lqNX6hxa62r6DL9mo12BOoo" alt="" class="small_profile">
                <div class="user_info">
                    <h2>Kaworii da Silva Diniz</h2>
                    <h3>9.999 seguidores</h3>
                    <h3>1 sem . 🌎</h3>
                </div>
                <div class="content">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining 
                    </p>
                </div>
                <div class="post_hr"></div>
                <div class="interactions">
                    <button>
                        <div class="interaction_box">
                            <img src="img/like.png" alt="">
                            <span>Gostei</span>
                        </div>
                    </button>
                    <button>
                        <div class="interaction_box">
                            <img src="img/comment.png" alt="">
                            <span>Comentar</span>
                        </div>
                    </button>
                    <button>
                        <div class="interaction_box">
                            <img src="img/share.png" alt="">
                            <span>Compartilhar</span>
                        </div>
                    </button>
                    <button>
                        <div class="interaction_box">
                            <img src="img/apply.png" alt="">
                            <span>Aplicar para vaga</span>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </section>

    <section></section>
</body>
</html>