<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KODI | Login</title>
</head>
<body>
    <section>
        <div>
            <h1>LOGIN</h1>
            <form action="/login" method="post">
                <span>Email</span>
                <input type="email" name="email">
                <span>Senha</span>
                <input type="password" name="password">
                <button type="submit">Entrar</button>
            </form>
            <a href="#">Esqueceu a senha?</a>
            <div></div>
            <a href="#"><button type="submit">Criar nova conta</button></a>
        </div>
    </section>
</body>
</html>